# Flutter / Dart
.dart_tool/
.packages
/build/
.flutter-plugins
.flutter-plugins-dependencies
.ios/Flutter/Flutter.framework
.ios/Flutter/Flutter.podspec

# Android
**/local.properties
**/app/build/
**/.gradle/

# Python
venv/
__pycache__/
*.pyc

# Models (do not commit)
models/
