name: ai_mobile_ondevice_assistant
description: Ai Mobile On-Device Assistant (demo)
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  # Add packages as needed
  provider: ^6.0.0
  flutter_sound: ^9.2.13
  path_provider: ^2.0.11

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
